.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, .4) solid;
}

.profile__avatar-container {
  position: relative;
}

.profile__avatar-button {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
  margin-right: 20px;
}

.profile__avatar-container:hover .profile__avatar-button {
  visibility: visible;
}

.profile__avatar-button::after {
  content: "Edit Avatar";
}

.profile__avatar {
  margin-right: 20px;
  width: 190px;
  height: 190px;
  border-radius: 8px;
}


.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 70%;
  max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  margin-top: auto;
  border: none;
  text-align: left;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  opacity: 70%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__edit-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__add-button {
  margin-left: auto;
  margin-top: auto;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  width: 157px;
  height: 52px;
}

.profile__add-button:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width:627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }

  .profile__avatar-button {
    visibility: visible;
  }

  .profile__avatar-button::after {
    content: "";
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__name {
    font-size: 20px;
    line-height: 1;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__edit-button {
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .profile__add-button {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}